.login-container {
  height: 100%;
  min-height: 740px;
  background-color: #eeeeee;
  background-image: url("@/assets/images/ai_bg.png");
  background-size: 100% 100%;
  background-size: cover;

  .login-box {
    position: relative;
    box-sizing: border-box;
    display: flex;
    // align-items: center;
    justify-content: space-around;
    top: 120px;

    border-radius: 10px;

    .login-left {
      .login-text1 {
        color: black;
        font-size: 46px;
        font-weight: bold;
        margin: 42px 0 0 0;
      }

      .login-text2 {
        color: black;
        font-size: 30px;
        font-weight: bold;
      }
    }

    .login-form {
      top: 20px;
      position: relative;
      background: transparent;

      .login-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .logo-text {
          color: white;
          font-size: 30px;
          font-weight: bold;
          white-space: nowrap;
        }
      }

      .el-form-item {
        margin-bottom: 40px;
      }

      .login-btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        white-space: nowrap;

        .el-button {
          width: 185px;
        }
      }
    }
  }
}

@media screen and (width <=1250px) {
  .login-left {
    display: none;
  }
}

@media screen and (width <=600px) {
  .login-form {
    width: 97% !important;
  }
}